
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497764603983'); /* IE9*/
  src: url('iconfont.eot?t=1497764603983#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497764603983') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497764603983') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497764603983#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before { content: "\e62d"; }

.icon-star:before { content: "\e611"; }

.icon-down:before { content: "\e62c"; }

.icon-setting:before { content: "\e65d"; }

.icon-user:before { content: "\e622"; }

.icon-data:before { content: "\e600"; }

.icon-right:before { content: "\e662"; }

.icon-apps:before { content: "\e6ec"; }

.icon-jiaofei:before { content: "\e727"; }

.icon-menu:before { content: "\e637"; }

.icon-logout:before { content: "\e603"; }

.icon-organ:before { content: "\e690"; }

