- yaml
- LogLevel=error
- HttpEngine=httpclient
- WLN_LISTEN_PORT=6900
- WLN_MYSQL_UID=icenter
- WLN_MYSQL_PWD=123456
- WLN_MYSQL_NAME=icenter
- WLN_MYSQL_SERVER=39.108.89.128
- WLN_MYSQL_PORT=3306
- XServerAppId=8686640344badf51
- XServerSecret=41a2e03f8686640344badf516a008503
- StorageUrl=https://fuping.b0.upaiyun.com
- Upyun_Bucket=fuping
- Upyun_Username=fuping
- Upyun_Password=fuping123
- chargeHost=