- yaml
- LogLevel=debug
- HttpEngine=httpclient
- WLN_LISTEN_PORT=3050
- WLN_MYSQL_UID=icenter
- WLN_MYSQL_PWD=123456
- WLN_MYSQL_NAME=icenter
- WLN_MYSQL_SERVER=39.108.89.128
- WLN_MYSQL_PORT=3306
- XServerAppId=devtest
- XServerSecret=devtest
- StorageUrl=https://fuping.b0.upaiyun.com
- Upyun_Bucket=fuping
- Upyun_Username=fuping
- Upyun_Password=fuping123
- chargeHost=