*{padding:0px;margin:0px;border:none;}
html,body {width:100%;height:100%;}
body {background:#fff;font-size:14px;color:#000;overflow:hidden;font-family:"Open Sans","Helvetica Neue","Helvetica,Arial","Hiragino Sans GB","STXihei,STHeiti","Microsoft YaHei","SimHei,sans-serif";}
table {width:100%;border-collapse:collapse;border-spacing:0;}
input[type=text],input[type=tel],input[type=password],select,textarea {line-height:30px;border:1px solid #dddddd;padding:0 2px;}
select {height:2rem;}
select option.gray {color:#999999;}
a {color:#333;text-decoration:none;cursor:pointer;}
a:hover,a:focus {opacity:0.8}
.icon {width:16px;height:16px;vertical-align:-3px;fill:currentColor;overflow:hidden;}
.icon.min {width:12px;height:12px;vertical-align:-1px;color:#dfe6ec;}
.label {text-align:right;color:#48576a;}
.clearfix:after {content:"";display:block;height:0;width:0;clear:both;}
#main {height:100%;width:100%;overflow:hidden;display:table;}
#left {position:inherit;height:100%;width:180px;display:table-cell;vertical-align:top;background:#1f2126;overflow:hidden;}
#center {display:table-cell;width:auto;position:relative;background-color:#f1f3f6;}
#right {height:100%;position:absolute;right:0;top:0;display:table;vertical-align:top;}
#left .logo {height:60px;line-height:60px;overflow:hidden;font-size:0px;text-align:center;background:#25282d}
.menu-group {padding:16px 0px 0px 0px;}
.menu-title {font-size:12px;color:#7c818a;padding:0px 10px;font-weight:400;}
.menu-item {display:block;width:100%;padding:5px 0px 5px 18px;font-weight:100;color:#9ba3af;}
.menu-item.has-sub {padding-left:2px;}
.menu-item-container {display:none}
.menu-item-container.no-hide {display:block}
.topbar {border-bottom:1px solid #ebebeb;height:60px;overflow:hidden;background-color:#ffffff;}
.topbar a {padding-left:6px;font-size:14px;display:block;line-height:50px;width:50px;text-align:center;border-left:1px solid #e9e9e9;}
.topbar li {float:right;list-style:none;}
.topbar li:first-child {float:left;}
.topbar li:first-child a {border:none;border-right:1px solid #e9e9e9;}
.wln {width:97%;margin:10px auto;background:#ffffff;border:10px solid #ffffff;}
.wln-title {border-left:2px solid #0099cc;padding-left:6px;font-size:20px;line-height:18px;}
.wln-subtitle {font-size:26px;line-height:30px;}
.wln-subtitle > span {font-size:15px;margin-left:15px;color:#666;vertical-align:top;}
.wln-menu {height:30px;line-height:30px;padding:10px 0px;}
.wln-menu::after {clear:both;font-size:0;content:' ';}
.wln-menu .wln-title {display:inline-block;vertical-align:middle;}
.wln-menu .wln-subtitle {display:inline-block;vertical-align:super;}
#noticeToggle {display:table-cell;vertical-align:bottom;}
#noticeControl {height:100%;width:180px;display:none;vertical-align:top;background-color:rgb(247,247,247);border-left:1px solid rgb(235,235,235);overflow:hidden;}
.menu-item.router-link-exact-active {background-color:rgba(89,95,105,0.3);}
.el-pagination {margin-top:10px;}
